################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SSLReport/obj
/SSLReport/bin/Debug/net8.0-windows
/SSLReport/.vs
/SSLReport/.cr/personal/FavoritesList
/SSLReport/Properties/PublishProfiles
/SSLReport/SSLReport.csproj.user
